.container{
    width: 200px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    background-color:black;

}
h4{
    color: white;    
}
h3{
    color: white;
}
img{
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}

.content {
    padding: 10px;
    text-align: center;
}
